:root{
  --PrimaryColor : rgb(36, 36, 36);
  --HeaderColor :   rgb(17, 17, 17);
}

body{
  background-color: var(--PrimaryColor);
  height: 100vh;
}

.title-section{
  background-color: var(--HeaderColor);
  width : 100vw;
  color : white;
  padding: 1px 3px 1px 50px;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.QouteContainer{
  background-color: rgba(58, 56, 56, 0.466);
  width:70%;
  height: 80vh;
  padding: 10px;
  margin:50px 2px 1px 2px;
  border-radius: 10px;
  box-shadow:3px 3px 10px grey;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#new-quote{
  border : none;  
  height: 50px;
  width: 150px;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: skyblue;
  cursor: pointer;
  caret-color: transparent;
  color:black;
  transition: background-color 0.5s ease-in-out,color 0.5s ease-in-out;
}
#new-quote:hover{
  background-color: rgb(19, 7, 87);
  color: white;
}

#tweet-quote{  
  text-decoration: none;
}

.social-button{
  background-color: var(--HeaderColor);
  display: flex;
  width: 160px;
  align-content: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.social-button > img{
  width:50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 15px;
  caret-color: transparent;
  transition: width 0.2s ease-in,height 0.2s ease-in-out;
}

.qoute::before,.qoute::after{
  content: '"';
}
.qoute-author::before{
  content: "-";
}